@font-face {
    font-family: 'Cafe24Surround';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/Cafe24Ssurround.woff') format('woff');
    font-weight: normal;
    font-display: swap;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.full{
    width: 100vw;
    height: 100vh;
    background-color: aquamarine;
    position: relative;
}
.title{
    position: absolute;
    width: 100vw;
    top: 5vh;
}
.title>p{
    font-family: 'Cafe24Surround';
    opacity: 0.05;
    font-size: 44px;
    font-weight: normal;
    text-align: center;
    letter-spacing: -0.02em;
    line-height: 130%;
    position: absolute;
}
.title>p:nth-child(1){
    top: 0px;
    left: 50%;
    transform: translateX(-50%);
    width: 116.58px;
    height: 57.2px;
    overflow: hidden;
}
.title>p:nth-child(1)>span:nth-child(1){    
    position: absolute;
    left: 0px;
    animation: p_one_span_one 8s ease 0s infinite;
}

@keyframes p_one_span_one{
    0%{
        top: 100%;
    }
    6%{
        top: 0%;
    }
}
.title>p:nth-child(1)>span:nth-child(2){    
    position: absolute;
    left: 29.145px;
    animation: p_one_span_two 8s ease 0s infinite;
}

@keyframes p_one_span_two{
    0%{
        top: 100%;
    }
    6%{
        top: 100%;
    }
    12%{
        top: 0%;
    }
}
.title>p:nth-child(1)>span:nth-child(3){    
    position: absolute;
    left: 58.29px;
    animation: p_one_span_three 8s ease 0s infinite;
}

@keyframes p_one_span_three{
    0%{
        top: 100%;
    }
    12%{
        top: 100%;
    }
    18%{
        top: 0%;
    }
}
.title>p:nth-child(1)>span:nth-child(4){    
    position: absolute;
    left: 87.435px;
    animation: p_one_span_four 8s ease 0s infinite;
}

@keyframes p_one_span_four{
    0%{
        top: 100%;
    }
    18%{
        top: 100%;
    }
    25%{
        top: 0%;
    }
}


.title>p:nth-child(2){
    top: 57.2px;
    left: 50%;
    transform: translateX(-50%);
    width: 135.09px;
    height: 57.2px;
    overflow: hidden;
}


.title>p:nth-child(3){
    top: 114.4px;
    left: 50%;
    transform: translateX(-50%);
    width: 300px;
    height: 57.2px;
    overflow: hidden;
}

