@font-face {
    font-family: 'Cafe24Surround';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/Cafe24Ssurround.woff') format('woff');
    font-weight: normal;
    font-display: swap;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.full {
    width: 100vw;
    height: 100vh;
    background: url(./background_hanji.jpg);
    position: relative;
    overflow: hidden;
}

.title {
    position: absolute;
    width: 100vw;
    top: 5vh;
}

.title>p {
    font-family: 'Cafe24Surround';
    font-size: 44px;
    font-weight: normal;
    text-align: center;
    letter-spacing: -0.02em;
    line-height: 130%;
    position: absolute;
    z-index: 3;
}

.touch {
    width: 100vw;
    font-family: 'Cafe24Surround';
    font-size: 22px;
    font-weight: normal;
    text-align: center;
    letter-spacing: -0.02em;
    line-height: 130%;
    position: absolute;
    top: 33vh;
    left: 50%;
    transform: translateX(-50%);
    z-index: 3;
}

.title>p:nth-child(1) {
    top: 0px;
    left: 50%;
    transform: translateX(-50%);
    width: 119.58px;
    height: 57.2px;
    overflow: hidden;
}

.title>p:nth-child(1)>span:nth-child(1) {
    position: absolute;
    left: 0px;
    animation: p_one_span_one 8s ease 0s infinite;
}

@keyframes p_one_span_one {
    0% {
        top: 100%;
    }

    6% {
        top: 0%;
    }
}

.title>p:nth-child(1)>span:nth-child(2) {
    position: absolute;
    left: 29.145px;
    animation: p_one_span_two 8s ease 0s infinite;
}

@keyframes p_one_span_two {
    0% {
        top: 100%;
    }

    6% {
        top: 100%;
    }

    12% {
        top: 0%;
    }
}

.title>p:nth-child(1)>span:nth-child(3) {
    position: absolute;
    left: 58.29px;
    animation: p_one_span_three 8s ease 0s infinite;
}

@keyframes p_one_span_three {
    0% {
        top: 100%;
    }

    12% {
        top: 100%;
    }

    18% {
        top: 0%;
    }
}

.title>p:nth-child(1)>span:nth-child(4) {
    position: absolute;
    left: 87.435px;
    animation: p_one_span_four 8s ease 0s infinite;
}

@keyframes p_one_span_four {
    0% {
        top: 100%;
    }

    18% {
        top: 100%;
    }

    25% {
        top: 0%;
    }
}


.title>p:nth-child(2) {
    top: 57.2px;

    transform: translateX(-50%);
    width: 135.09px;
    height: 57.2px;
    overflow: hidden;
    animation: p_two 8s ease 0s infinite;
}

@keyframes p_two {
    0% {
        left: 0%;
        opacity: 0;
    }

    25% {
        left: 0%;
        opacity: 0;
    }

    31% {
        left: 50%;
        opacity: 1;
    }

    100% {
        left: 50%;
        opacity: 1;
    }
}

.title>p:nth-child(3) {
    left: 50%;
    transform: translateX(-50%);
    width: 300px;
    height: 57.2px;
    overflow: hidden;
    animation: p_three 8s ease 0s infinite;

}

@keyframes p_three {
    0% {
        top: 171.6px;
        opacity: 0;
    }

    67.5% {
        top: 171.6px;
        opacity: 0;
    }

    74% {
        top: 119.4px;
        opacity: 1;
    }

    100% {
        top: 119.4px;
        opacity: 1;
    }
}

.title_background {
    position: absolute;
    width: 340px;
    height: auto;
    top: calc(5vh - 10px);
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
}

.horse_img {
    position: absolute;
    bottom: 5vw;
    left: 5vw;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: rotateZ(-20deg);
    transition: transform 0.6s ease;
    z-index: 2;
}


@media screen and (max-width: 768px) {
    .horse_img {
        width: 42.5vw;
        height: 42.5vw;
    }

    .horse_img>img {
        width: auto;
        height: 42.5vw;
    }

}

@media screen and (min-width: 768px) {
    .horse_img {
        width: 250px;
        height: 250px;
    }

    .horse_img>img {
        width: auto;
        height: 250px;
    }

}

.groomi_img {
    position: absolute;
    bottom: 5vw;
    right: 5vw;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: rotateZ(-20deg);
    transition: transform 0.6s ease;
    z-index: 2;
}


@media screen and (max-width: 768px) {
    .groomi_img {
        width: 42.5vw;
        height: 42.5vw;
    }

    .groomi_img>img {
        width: auto;
        height: 42.5vw;
    }

}

@media screen and (min-width: 768px) {
    .groomi_img {
        width: 250px;
        height: 250px;
    }

    .groomi_img>img {
        width: auto;
        height: 250px;
    }

}

.back_nature {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.back_nature>img:nth-child(1) {
    position: absolute;
    left: -10vw;
    width: 80vw;
    height: auto;
    animation: dongsan 3s ease 0s infinite;
}

@keyframes dongsan {
    0% {
        bottom: -10vw;
    }

    50% {
        bottom: 0vw;
    }

    100% {
        bottom: -10vw;
    }
}

.back_nature>img:nth-child(2) {
    position: absolute;
    bottom: 10vh;
    left: 30vw;
    z-index: 2;
    width: 5vw;
    height: auto;
    animation: tree 3s ease 0s infinite;
}

@keyframes tree {
    0% {
        transform: rotate(-30deg);
    }

    50% {
        transform: rotate(30deg);
    }

    100% {
        transform: rotate(-30deg);
    }
}

.back_nature>img:nth-child(3) {
    position: absolute;
    right: -10vw;
    width: 90vw;
    height: auto;
    animation: dongsan 3s ease 0s infinite;
}

.back_nature>img:nth-child(4) {
    position: absolute;
    bottom: 12vh;
    left: 55vw;
    z-index: 2;
    width: 5vw;
    height: auto;
    animation: tree 3s ease 0s infinite;
}
